*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background: linear-gradient(lightblue,pink,lightyellow);
    height: 100vh;
}

.but1{
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background-color: lightblue;
    position: relative;
    top: 150px;
    right: 270px;
}
.but2{
    height: 50px;
    width: 250px;
    border-radius: 25px;
    background-color: lightblue;
    position: absolute;
    top: 191px;
    right: 238px;
}

.left{
    height: 189px;
    width: 500px;
    border-radius: 29px;
    border: 2px solid black;
    position: relative;
    top: 300px;
    left: 100px;
    background-color: rgba(135, 235, 230, 0.873) ;

}

.right{
    height: 189px;
    width: 500px;
    border-radius: 29px;
    border: 2px solid black;
    position: absolute;
    top: 394px;
    right: 67px;
    background-color: violet;
    
}